*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/app-release.aab
/app/release/AppVerifier-release.apks
/app/release/output-metadata.json
/app/release/app-release.apk
/app/release/AppVerifier-app-release.apks
/app/release/bundletool-all-1.15.5.jar
/app/release/apk/release/app-release.apk
/app/release/apk/release/output-metadata.json
